.portfolio{
    padding:120px 8%;
    background:#f6efe6;
}

.section-heading{
    text-align:center;
    margin-bottom:60px;
}

.section-heading span{
    color:#b88655;
    letter-spacing:3px;
    font-size:12px;
}

.section-heading h2{
    font-size:56px;
    margin-top:15px;
    color:#2e241b;
}

.portfolio-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.portfolio-card{
    background:#fffaf5;
    border:1px solid #e7dccc;
    border-radius:24px;
    padding:40px;
    text-decoration:none;
    transition:.4s;
}

.portfolio-card:hover{
    transform:translateY(-10px);
}

.portfolio-number{
    font-size:14px;
    color:#b88655;
    margin-bottom:25px;
}

.portfolio-card h3{
    font-size:32px;
    color:#2e241b;
    margin-bottom:15px;
}

.portfolio-card p{
    color:#6c6258;
    line-height:1.7;
}
